* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b62424;
    padding: 15px;
    color: white;
}

.header img {
    height: 50px;
}

.header div {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.header div img {
    height: 20px;
    margin-right: 5px;
}




.mainContainer {
    padding: 80px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 60px;
}

.products img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
}

img:hover{
opacity: 70%;
transition: all 0.3s;
transform: scale(103%);
}






.descriptionAndPrice {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.products p {
    margin: 0;
    color: #555;
}

.products p.descriptionAndPrice {
    color: #000000;
}






.offCanvasSideBar {
    position: fixed;
    top: 0;
    right: -350px; 
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    padding: 0px;
    padding-top: 0px;
    overflow-y: auto; 
}

.offCanvasSideBarHeader {
    display: flex;
    align-items: center;
    background-color: #202020;
    color: white;
    padding: 50px;
    border-radius: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;

    font-size: 200%;
    font-weight: bold;
}

.offCanvasSideBarHeader img {
    height: 40px;
    margin-right: 10px;
}

.offCanvasSideBarProducts {
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.offCanvasSideBarPrice {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.offCanvasSideBarCheckout {
    background-color: #b62424;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed;
    width: 14%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;

}

.offCanvasSideBarCheckout:hover {
    background-color: #a12323; 
}

.offCanvasSideBar.active {
    right: 0;
}

